{% extends '@Reclamation/baseback.html.twig' %}

{% block titre %}{{ parent() }} - Acceuil {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <!-- DataTables -->
    <link rel="stylesheet" href="{{ asset('plugins/datatables-bs4/css/dataTables.bootstrap4.css') }}">
{% endblock %}

{% block content %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-12">

                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Reclamation</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="tableau" class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Nom</th>
                                    <th>Prenom</th>
                                    <th>CIBLE</th>
                                    <th>Description</th>
                                    <th>Etat</th>
                                    <th>Selecteur</th>
                                    <th>Date de la Réclamation</th>

                                    <th>Delete</th>
                                    <th>Update</th>
                                    <th>Affiche</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for rec in R %}
                                    <tr>
                                        <td>{{ rec.idrecl }}</td>
                                        <td>{{ rec.IdEmeteur.nom }}</td>
                                        <td>{{ rec.IdEmeteur.prenom}}</td>

                                        {% if rec.selecteur == "groupe" %}
                                            {% for groupe in groupes if groupe.idGroupe ==  rec.idCible %}
                                                <td data-label="Column 1">{{ groupe.titre }}</td>
                                            {% endfor %}
                                        {% elseif rec.selecteur == "event"  %}
                                            {% for event in evenements if event.ide ==  rec.idCible %}
                                                <td data-label="Column 1">{{ event.nom }}</td>
                                            {% endfor %}
                                        {% else %}
                                            {% for pub in pubs if pub.id ==  rec.idCible %}
                                                <td data-label="Column 1">{{ pub.titre }}</td>
                                            {% endfor %}
                                        {% endif %}
                                        <td data-label="Column 1">{{ rec.description }}</td>
                                        <td data-label="Column 2">{{ rec.etat }}</td>
                                        <td data-label="Column 3">{{ rec.selecteur}}</td>
                                        <td data-label="Column 3"> {{  rec.date|date('Y-m-d H:i:s') }}</td>

                                        <td>
                                            <a href="{{ path('Deleteback',{'id':rec.idRecl}) }}" class="btn btn-block btn-danger">Supprimer</a>
                                        </td>
                                        <td>
                                            <a href="{{ path('Traiter',{'id':rec.idRecl}) }}" class="btn btn-block btn-warning">Traiter</a>
                                        </td>
                                        <td>  <a href="{{ path('AfficherNote',{'id':rec.idRecl}) }}" class="button dark ripple-effect">Note</a></td>
                                    </tr>
                                {% endfor %}
                                </tfoot>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </section>

    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <!-- DataTables -->
    <script src="{{ asset('plugins/datatables/jquery.dataTables.js') }}"></script>
    <script src="{{ asset('plugins/datatables-bs4/js/dataTables.bootstrap4.js') }}"></script>
    <script>
        $(function () {
            $('#tableau').DataTable({
                "paging": true,
                "lengthChange": true,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": false,
            });
        });
    </script>
{% endblock %}

