{% extends '@Nozelites/baseback.html.twig' %}

{% block titre %}{{ parent() }} - Acceuil {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <!-- DataTables -->
    <link rel="stylesheet" href="{{ asset('plugins/datatables-bs4/css/dataTables.bootstrap4.css') }}">
{% endblock %}

{% block content %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-12">

                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Liste des groupes</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="tableau" class="table table-bordered table-striped">
                                <thead>
                                <tr>

                                    <th>nom</th>
                                    <th>date</th>
                                    <th>heure</th>
                                    <th>Supprimer</th>
                                    <th>Demande</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for event in evenement %}
                                    {% if event.etat == 0 %}
                                        <tr>

                                            <td>{{ event.nom }}</td>
                                            <td>{{ event.date|date('d/m/Y') }}</td>
                                            <td>{{ event.heure|date('H:II') }}</td>

                                            <td>
                                                <a href="{{ path('nozelites_adminEvenementsupprimerback',{'id':event.ide}) }}" class="btn btn-block btn-danger">Supprimer</a>
                                            </td>
                                            <td>
                                                <a href="{{ path('nozelites_adminEvenementAccepterback',{'id':event.ide}) }}" class="btn btn-block btn-warning">Accepter</a>
                                            </td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                                </tfoot>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </section>

    </div>
{% endblock %}