{% extends '@Nozelites/baseback.html.twig' %}

{% block titre %}{{ parent() }} - Acceuil {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <!-- DataTables -->
    <link rel="stylesheet" href="{{ asset('plugins/datatables-bs4/css/dataTables.bootstrap4.css') }}">
{% endblock %}

{% block content %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-12">

                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Liste des groupes</h3>
                            <button class="form-control" onclick="alert('cc');{{ path('nozelites_adminpdfgroupesback') }}">Export Pdf</button>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="tableau" class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th>Afficher</th>
                                    <th>Titre</th>
                                    <th>Description</th>
                                    <th>Etat</th>
                                    <th>Supprimer</th>
                                    <th>Modifier</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for groupe in groupes %}
                                    <tr>
                                        <td><a href="{{ path('nozelites_admingroupeafficherback',{'id':groupe.idGroupe}) }}" class="btn btn-block btn-info">Afficher</a></td>
                                        <td>{{ groupe.titre }}</td>
                                        <td>{{ groupe.description }}</td>
                                        <td>
                                            {% if groupe.autorisation == 1 %}Ouvert
                                            {% else %}Fermé
                                            {% endif %}
                                        </td>
                                        <td>
                                            <a href="{{ path('nozelites_admingroupesupprimerback',{'id':groupe.idGroupe}) }}" class="btn btn-block btn-danger">Supprimer</a>
                                        </td>
                                        <td>
                                            <a href="{{ path('nozelites_admingroupemodifierback',{'id':groupe.idGroupe}) }}" class="btn btn-block btn-warning">Modifier</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tfoot>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </section>

    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <!-- DataTables -->
    <script src="{{ asset('plugins/datatables/jquery.dataTables.js') }}"></script>
    <script src="{{ asset('plugins/datatables-bs4/js/dataTables.bootstrap4.js') }}"></script>
    <script>
        $(function () {
            $('#tableau').DataTable({
                "paging": true,
                "lengthChange": true,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": false,
            });
        });
    </script>
{% endblock %}

