{% trans_default_domain 'FOSUserBundle' %}



<div class="dashboard-container">

    <!-- Dashboard Sidebar
    ================================================== -->
    <<div class="dashboard-sidebar">
        <div class="dashboard-sidebar-inner" data-simplebar>
            <div class="dashboard-nav-container">

                <!-- Responsive Navigation Trigger -->
                <a href="#" class="dashboard-responsive-nav-trigger">
					<span class="hamburger hamburger--collapse" >
						<span class="hamburger-box">
							<span class="hamburger-inner"></span>
						</span>
					</span>
                    <span class="trigger-title">Dashboard Navigation</span>
                </a>

                <!-- Navigation -->
                <div class="dashboard-nav">
                    <div class="dashboard-nav-inner">

                        <ul data-submenu-title="Start">
                            <li class="active"><a href="{{ path("fos_user_profile_show") }}"><i class="icon-material-outline-dashboard"></i> Tableau de bord</a></li>
                            <li><a href="dashboard-messages.html"><i class="icon-material-outline-question-answer"></i> Messages </a></li>
                            {% if is_granted('ROLE_MEMBRE')%}
                                <li><a href="dashboard-bookmarks.html"><i class="icon-material-outline-star-border"></i> Mes Groupes</a></li>

                                    <li class="active-submenu"><a href="#"><i class="icon-material-outline-rate-review"></i> Gerer le Protfolio</a>
                                        <ul>
                                            <li><a href="{{ path("Show_portfolio",{id:app.user.id}) }}">Mon Portfolio  </a></li>
                                            <li><a href="{{ path("Add_portfolio") }}">Ajouter</a></li>

                                        </ul>
                                    </li>


                            {% endif %}
                        </ul>



                        <ul data-submenu-title="Compte">
                            <li><a href="{{ path("fos_user_profile_edit") }}"><i class="icon-material-outline-settings"></i> Modifier</a></li>
                            <li><a href="{{ path('fos_user_security_logout') }}"><i class="icon-material-outline-power-settings-new"></i> Deconnexion</a></li>
                        </ul>

                    </div>
                </div>
                <!-- Navigation / End -->

            </div>
        </div>
    </div>
    <!-- Dashboard Sidebar / End -->


    <!-- Dashboard Content
    ================================================== -->
    <div class="dashboard-content-container" data-simplebar>
        <div class="dashboard-content-inner" >

            <!-- Dashboard Headline -->
            <div class="dashboard-headline">
                <h3>Paramètres du compte</h3>

                <!-- Breadcrumbs -->

            </div>

            <!-- Row -->
            <div class="row">

                <!-- Dashboard Box -->
                <div class="col-xl-12">
                    <div class="dashboard-box margin-top-0">

                        <!-- Headline -->
                        <div class="headline">
                            <h3><i class="icon-material-outline-account-circle"></i> Mon Compte</h3>
                        </div>

                        <div class="content with-padding padding-bottom-0">

                            <div class="row">

                                <div class="col-auto">
                                    {{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit','novalidate':'novalidatec' } }) }}

                                    <div class="avatar-wrapper" data-tippy-placement="bottom" title="Change Avatar">
                                        <img class="profile-pic"src="{{ asset('images/profile/'~ user.imageName)}}" alt="{{ user.imageName }}" />

                                        <div class="upload-button"></div>

                                        <input type = "file" class="file-upload"   name="{{ form.imageFile.vars.full_name }}" id ="{{form.imageFile.vars.id }}"/>


                                    </div>
                                </div>

                                <div class="col">
                                    <div class="row">
                                        <div class="col-xl-6">

                                            {{ form_widget(form) }}


                                                <input type="submit" value="{{ 'profile.edit.submit'|trans }}" />


                                        </div>
                                            {{ form_end(form) }}

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <!-- Dashboard Box -->
                {% if is_granted('ROLE_MEMBRE')%}
                <div class="col-xl-12">
                    <div class="dashboard-box">

                        <!-- Headline -->
                        <div class="headline">
                            <h3><i class="icon-material-outline-face"></i> Mes compétences</h3>
                        </div>

                        <div class="content">
                            <ul class="fields-ul">
                                <li>
                                    <div class="row">
                                        <div class="col-xl-8">
                                            <div class="submit-field">
                                                <h5>Formation <i class="help-icon" data-tippy-placement="right" title="Add up to 10 skills"></i></h5>

                                                <!-- Skills List -->
                                                <div class="keywords-container">
                                                    <div class="keyword-input-container">

                                                        {{ form_start(formulaire) }}

                                                        {{ form_widget(formulaire.titre, {'value':' '}) }}

                                                        {{ form_errors(formulaire.titre) }}
                                                        <input type="submit" class="keyword-input-button ripple-effect" value="+"/>
                                                        {{ form_end(formulaire) }}
                                                    </div>
                                                    <div class="keywords-list">
                                                        {% for formation in listFormation %}
                                                            <a href="{{ path('formation_supp',{id: formation.idFormation }) }}">
                                                                <span class="keyword-remove"><span class="keyword-remove" ></span><span class="keyword-text" > X {{ formation.titre }}</span></span>
                                                            </a>
                                                        {% endfor %}


                                                    </div>
                                                    <div class="clearfix"></div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>

                <!-- Dashboard Box -->

                <div class="col-xl-12">
                    <div id="test1" class="dashboard-box">

                        <div class="headline">
                            <h3><i class="icon-material-outline-lock"></i> Mes Diplomes</h3>
                        </div>
                        {{ form_start(formD) }}
                        <div class="content with-padding">
                            <div class="row">
                                <div class="col-xl-4">
                                    <div class="submit-field">
                                        <h5>{{ form_label(formD.organisation)}}</h5>
                                        {{ form_widget(formD.organisation, {'attr' : {'class' : 'with-border'}}) }}
                                    </div>
                                </div>
                                {{ form_start(formD) }}
                                <div class="col-xl-4">
                                    <div class="submit-field">
                                        <h5>{{ form_label(formD.domaine)}}</h5>
                                        {{ form_widget(formD.domaine, {'attr' : {'class' : 'with-border'}}) }}
                                    </div>
                                </div>

                                <div class="col-xl-4">
                                    <div class="submit-field">
                                        <h5>{{ form_label(formD.date)}}</h5>
                                        {{ form_widget(formD.date, {'attr' : {'class' : 'with-border'}} ) }}
                                    </div>
                                </div>


                            </div>
                            <div class="col-xl-12">
                                <input type = "submit" class="button ripple-effect big margin-top-30" ></input>
                            </div>
                            {{ form_end(formD) }}
                        </div>
                    </div>
                </div>
                {% endif %}

                <!-- Button -->


            </div>

