{% extends '@Nozelites/basefrontmembre.html.twig' %}

{% block title %}{{ parent() }} - Message {% endblock %}

{% block content %}

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- Tell the browser to be responsive to screen width -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Font Awesome -->
        <link rel="stylesheet" href="../../plugins/fontawesome-free/css/all.min.css">
        <!-- Ionicons -->
        <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
        <!-- icheck bootstrap -->
        <link rel="stylesheet" href="../../plugins/icheck-bootstrap/icheck-bootstrap.min.css">
        <!-- Theme style -->
        <link rel="stylesheet" href="../../dist/css/adminlte.min.css">
        <!-- Google Font: Source Sans Pro -->
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    </head>
    <body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <!-- Navbar -->

        <!-- Content Wrapper. Contains page content -->
        <div class="align-content-center">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1></h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                            </ol>
                        </div>
                    </div>
                </div><!-- /.container-fluid -->
            </section>

            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3">
                        <a href="{{ path('message_ajouter') }}" class="btn btn-primary btn-block mb-3">Envoyer un message</a>

                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Messages</h3>

                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="card-body p-0">
                                <ul class="nav nav-pills flex-column">
                                    <li class="nav-item active">
                                        <a href="{{ path('message_liste') }}" class="nav-link">
                                            <i class="fas fa-inbox"></i> Messages reçus
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="{{ path('message_liste_envoyes') }}" class="nav-link">
                                            <i class="far fa-envelope"></i> Messages envoyés
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                    <div class="col-md-9">
                        <div class="card card-primary card-outline">
                            <div class="card-header">
                                <h3 class="card-title">Inbox</h3>

                                <div class="card-tools">
                                    <div class="input-group input-group-sm">
                                        <input type="text" class="form-control" placeholder="Recherche.." onKeyPress="chercher(this.value);">
                                        <script type="text/javascript">
                                            function chercher(search) {
                                                if(search==""){
                                                    {% for message in messages %}
                                                    {% if message.idEmeteur.idUsr == 2 %} {#Id du membre connecté#}
                                                    document.getElementById('{{ 'show_'~message.idmessage }}').style.display="block";
                                                    {% endif %}
                                                    {% endfor %}
                                                }
                                                else{
                                                    {% for message in messages %}
                                                    {% if message.idEmeteur.idUsr == 2 %} {#Id du membre connecté#}
                                                    if('{{ message.objet }}'.toUpperCase().includes(search.toUpperCase()) || '{{ message.texte }}'.toUpperCase().includes(search.toUpperCase()) || '{{ message.idDestinataire.nom }}'.toUpperCase().includes(search.toUpperCase()) || '{{ message.idDestinataire.prenom }}'.toUpperCase().includes(search.toUpperCase()) || '{{ message.date }}'.toUpperCase().includes(search.toUpperCase()))
                                                        document.getElementById('{{ 'show_'~message.idmessage }}').style.display="block";
                                                    else
                                                        document.getElementById('{{ 'show_'~message.idmessage }}').style.display="none";
                                                    {% endif %}
                                                    {% endfor %}
                                                }
                                            }
                                        </script>
                                        <div class="input-group-append">
                                            <div class="btn btn-primary">
                                                <i class="fas fa-search"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.card-tools -->
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body p-0">
                                <div class="mailbox-controls">

                                </div>
                                <div class="float-right">
                                    <div class="btn-group">
                                        {{ knp_pagination_render(messages) }}
                                    </div>
                                    <!-- /.btn-group -->
                                </div>
                                <div class="table-responsive mailbox-messages">
                                    <table class="table table-hover table-striped">
                                        <tbody>
                                        {% for message in messages %}
                                            {% if message.idEmeteur.idUsr == 2 %} {#Id du membre connecté#}
                                                <tr id="{{ 'show_'~message.idmessage }}">
                                                    <td class="mailbox-name"><a href="{{ path('message_showone',{'id':message.idmessage}) }}">{{ message.idDestinataire.nom~" "~message.idDestinataire.prenom }}</a></td>
                                                    <td class="mailbox-subject"><b>{{ message.objet }}</b>{{ " - "~message.texte|slice(0, 45) }}{% if message.texte|length > 45 %}...{% endif %}
                                                    </td>
                                                    <td class="mailbox-attachment"></td>
                                                    <td class="mailbox-date">{{ message.date }}</td>
                                                    <td>
                                                        <a href="{{ path('message_supprimer',{'id':message.idmessage}) }}" class="btn btn-default btn-sm" title="Supprimer" data-tippy-placement="left"><i class="icon-feather-trash-2"></i></a>
                                                    </td>
                                                </tr>
                                            {% endif %}
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                    <!-- /.table -->
                            </div>
                                <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->

                </div>
            </section>

            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
    </div>
    <!-- ./wrapper -->

    <!-- jQuery -->
    <script src="../../plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="../../dist/js/adminlte.min.js"></script>
    <!-- Page Script -->
    <script>
        $(function () {
            //Enable check and uncheck all functionality
            $('.checkbox-toggle').click(function () {
                var clicks = $(this).data('clicks')
                if (clicks) {
                    //Uncheck all checkboxes
                    $('.mailbox-messages input[type=\'checkbox\']').prop('checked', false)
                    $('.checkbox-toggle .far.fa-check-square').removeClass('fa-check-square').addClass('fa-square')
                } else {
                    //Check all checkboxes
                    $('.mailbox-messages input[type=\'checkbox\']').prop('checked', true)
                    $('.checkbox-toggle .far.fa-square').removeClass('fa-square').addClass('fa-check-square')
                }
                $(this).data('clicks', !clicks)
            })

            //Handle starring for glyphicon and font awesome
            $('.mailbox-star').click(function (e) {
                e.preventDefault()
                //detect type
                var $this = $(this).find('a > i')
                var glyph = $this.hasClass('glyphicon')
                var fa    = $this.hasClass('fa')

                //Switch states
                if (glyph) {
                    $this.toggleClass('glyphicon-star')
                    $this.toggleClass('glyphicon-star-empty')
                }

                if (fa) {
                    $this.toggleClass('fa-star')
                    $this.toggleClass('fa-star-o')
                }
            })
        })
    </script>
    <!-- AdminLTE for demo purposes -->
    <script src="../../dist/js/demo.js"></script>
    </body>

{% endblock %}



