{% extends '@Nozelites/basefrontmembre.html.twig' %}
{% block content %}

    <!-- Section -->


    <div class="section gray">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 col-lg-8">

                    <!-- Section Headline -->



                {% for cc in c %}
                    <!-- Blog Post -->
                    <a href="{{ path('Commentaire',{'id':cc.id})}}" class="blog-post">
                        <!-- Blog Post Thumbnail -->
                        <div class="blog-post-thumbnail">
                            <div  class="blog-post-thumbnail-inner" >



                                {% set imageur = cc.image|split('/')  %}
                                {%  set imageur = imageur[imageur|length-1] %}
                                {% set imageurl = "front/images/"~imageur %}

                                <img src="{{ asset(imageurl) }}">


                            </div>
                        </div>
                        <!-- Blog Post Content -->
                        <div class="blog-post-content">
                            <!--  <span class="blog-post-date">{{ cc.titre }}</span>  -->



                          <h3>{{ cc.titre }}</h3>
                              <p>{{ cc.description }}</p>



                          </table>






                        </div>





                        <!-- Icon -->
                        <div class="entry-icon"></div>

                        {% if cc.idPublicateur.idusr  == d.idusr %}
                            <a href="{{  path('Delete',{'id':cc.id}) }}" class="button red ripple-effect ico"  title="Modifier" data-tippy-placement="left"><i class="icon-feather-trash-2"></i></a>

                            <a href="{{  path('Update',{'id':cc.id}) }}" class="button red ripple-effect ico" title="Supprimer" data-tippy-placement="left"><i class="icon-feather-edit-2"></i></a>
                        {% endif %}



                        {% if (favoris is empty) %}
                        <a href="{{  path('jaime',{'id':cc.id}) }}" class="button white ripple-effect ico" title="J aime" data-tippy-placement="left" ><i class="icon-material-outline-thumb-up"></i></a>
                        {%endif  %}
                            {% for p in favoris%}

                                {% if p.idPub.id==cc.id %}
                        <a href="{{  path('dislike',{'id':cc.id}) }}" class="button white ripple-effect ico" title="J aime" data-tippy-placement="left" ><i class="icon-material-outline-thumb-down"></i></a>
                        {% elseif p.idPub.id!=cc.id %}

                            <a href="{{  path('jaime',{'id':cc.id}) }}" class="button white ripple-effect ico" title="J aime" data-tippy-placement="left" ><i class="icon-material-outline-thumb-up"></i></a>
                        {% endif %}
                              {% endfor %}

                        <a href="{{  path('Imprimer',{'id':cc.id}) }}" class="button white ripple-effect ico" title="Imprimer   " data-tippy-placement="left"><i class="icon-material-outline-print"></i></a>
                        <a href="{{ path('Ajouter1',{'id':cc.id,'type':'pub'}) }}" class="button red ripple-effect ico" title="Signaler" data-tippy-placement="left"><i class=" icon-feather-align-left"></i></a>
                    </a>
                    {% endfor %}




                    <!-- Pagination -->
                    <div class="clearfix"></div>
                    <div class="row">
                        <div class="col-md-12">
                            <!-- Pagination -->

                        </div>
                    </div>
                    <!-- Pagination / End -->

                </div>


                <div class="col-xl-4 col-lg-4 content-left-offset">
                    <div class="sidebar-container margin-top-65">

                        <!-- Location -->








                    </div>
                </div>

            </div>
        </div>

        <!-- Spacer -->
        <div class="padding-top-40"></div>
        <!-- Spacer -->

    </div>
    <!-- Section / End -->

{% endblock %}