{#{% extends '@Reclamation/Front/table.html.twig' %}#}

{% extends '@Nozelites/basefrontmembre.html.twig' %}
{% block content %}
    <div class="container">
        <div class="row">

            <div class="col-xl-6 col-md-6">

                <div class="section-headline margin-bottom-30">
                    <h4>Mes Reclamations</h4>
                </div>
                <table class="basic-table" >

                    <tr>
                        {#<th>Nom</th>
                        <th>Prenom</th>#}
                        <th>Titre</th>
                        <th>Description</th>
                        <th>
                            Etat
                            0:en cours
                            1:Validé
                        </th>
                        <th>Selecteur</th>
                        <th>Date de la Réclamation</th>
                        <th>Delete</th>
                        <th>Update</th>
                        <th>Noté la Reclamation </th>

                    </tr>
                    {% for rec in R %}
                    <tr>
{#                        <td>{{ rec.IdEmeteur.nom }}</td>#}
{#                        <td>{{ rec.IdEmeteur.prenom}}</td>#}

                        {% if rec.selecteur == "groupe" %}
                            {% for groupe in groupes if groupe.idGroupe ==  rec.idCible %}
                                <td data-label="Column 1">{{ groupe.titre }}</td>
                            {% endfor %}
                        {% else  %}
                            {% for event in evenements if event.ide ==  rec.idCible %}
                                <td data-label="Column 1">{{ event.nom }}</td>
                            {% endfor %}
                        {% endif %}
                        <td data-label="Column 1">{{ rec.description }}</td>
                        <td data-label="Column 2">{{ rec.etat }}</td>
                        <td data-label="Column 3">{{ rec.selecteur}}</td>
                        <td data-label="Column 3"> {{  rec.date|date('Y-m-d H:i:s') }}</td>
                       <td> <a href="{{ path('DeleteREC',{'id':rec.idRecl}) }}" class="button ripple-effect">Delete</a></td>
                       <td> <a href="{{ path('UpdateREC',{'id':rec.idRecl}) }}" class="button dark ripple-effect">Update</a></td>
                        {% if rec.etat == 1 %}
                        <td>  <a href="{{ path('AjouterNoteTest',{'id':rec.idRecl}) }}" class="button dark ripple-effect">Note</a></td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </table>
            </div>

        </div>

    </div>


    {#


<table border="1">
    <tr>

        <td>Description</td>
        <td>Etat</td>
        <td>Selecteur</td>
        <td>Date</td>
        <td>Delete</td>
        <td>Update</td>

    </tr>
    {% for rec in R %}
        <tr>

            <td>{{ rec.description }}</td>
            <td>{{ rec.etat }}</td>
            <td>{{ rec.selecteur}}</td>
            <td>{{  rec.date|date('Y-m-d H:i:s')  }}</td>
            <td><a href="{{ path('Delete',{'id':rec.idRecl}) }}">Delete</a></td>
            <td><a href="{{ path('Update',{'id':rec.idRecl}) }}">Update</a></td>


        </tr>
    {% endfor %}
</table>
#}
{% endblock %}